.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.icon{
  width: 90px;
  height: auto;
  display: block;
  margin: auto;
}
.sc-ion-card-ios-h{
  border-radius: 20px;
  margin: 0 10px 10px 10px;
}
.label{
  font-size: 20px;
  margin: 30px 0 0 10px;
}
.label2{
  margin: 0 10px;
}
