<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label class="label">Alentejo Pleasures</ion-label>
  <ion-grid style="margin: 0;">
    <ion-row>
      <ion-col>
      <ion-card class="welcome-card">
        <ion-img class="icon" src="/assets/sun-umbrella.png"></ion-img>
        <ion-card-header>
          <ion-card-subtitle style="text-align: center; letter-spacing: 1px; color: rgb(0,162,232);">Praias</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="welcome-card">
          <ion-img class="icon" src="/assets/sun-umbrella.png"></ion-img>
          <ion-card-header>
            <ion-card-subtitle style="text-align: center; letter-spacing: 1px; color: rgb(0,162,232);">Praias</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="welcome-card">
          <ion-img class="icon" src="/assets/sun-umbrella.png"></ion-img>
          <ion-card-header>
            <ion-card-subtitle style="text-align: center; letter-spacing: 1px; color: rgb(0,162,232);">Praias</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="welcome-card">
          <ion-img class="icon" src="/assets/sun-umbrella.png"></ion-img>
          <ion-card-header>
            <ion-card-subtitle style="text-align: center; letter-spacing: 1px; color: rgb(0,162,232);">Praias</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="welcome-card">
          <ion-img class="icon" src="/assets/sun-umbrella.png"></ion-img>
          <ion-card-header>
            <ion-card-subtitle style="text-align: center; letter-spacing: 1px; color: rgb(0,162,232);">Praias</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="welcome-card">
          <ion-img class="icon" src="/assets/sun-umbrella.png"></ion-img>
          <ion-card-header>
            <ion-card-subtitle style="text-align: center; letter-spacing: 1px; color: rgb(0,162,232);">Praias</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

