<ion-content color="twitter">
  <ion-list lines="none">
    <ion-item>
  <ion-label class="label">Alentejo Pleasures</ion-label>
    </ion-item>
    <ion-item>
  <ion-label class="label2">Conheça o Alentejo de lés-a-lés com a melhor app</ion-label>
    </ion-item>
  </ion-list>
  <ion-grid style="margin: 0;">
    <ion-row>
      <ion-col>
      <ion-card class="welcome-card">
        <ion-img class="icon" src="/assets/sun-umbrella.png"></ion-img>
        <ion-card-header>
          <ion-card-subtitle style="text-align: center; letter-spacing: 1px; color: rgb(0,162,232);">Hóteis</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="welcome-card">
          <ion-img class="icon" src="/assets/sun-umbrella.png"></ion-img>
          <ion-card-header>
            <ion-card-subtitle style="text-align: center; letter-spacing: 1px; color: rgb(0,162,232);">Restaurantes</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="welcome-card">
          <ion-img class="icon" src="/assets/sun-umbrella.png"></ion-img>
          <ion-card-header>
            <ion-card-subtitle style="text-align: center; letter-spacing: 1px; color: rgb(0,162,232);">Monumentos</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="welcome-card">
          <ion-img class="icon" src="/assets/sun-umbrella.png"></ion-img>
          <ion-card-header>
            <ion-card-subtitle style="text-align: center; letter-spacing: 1px; color: rgb(0,162,232);">Praias</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="welcome-card">
          <ion-img class="icon" src="/assets/sun-umbrella.png"></ion-img>
          <ion-card-header>
            <ion-card-subtitle style="text-align: center; letter-spacing: 1px; color: rgb(0,162,232);">Experiências</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="welcome-card">
          <ion-img class="icon" src="/assets/sun-umbrella.png"></ion-img>
          <ion-card-header>
            <ion-card-subtitle style="text-align: center; letter-spacing: 1px; color: rgb(0,162,232);">Rotas</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

