ion-item{
  --background: #3880ff;
  --color: #fff;
}
ion-button{
  --background: #062f77;
}
a{
  color: #fff;
}
.content-login{
  --background: url('../../../assets/login.png');
  --background-repeat: no-repeat;
  --background-position: center;
  --background-size: contain;
}
