<ion-content class="content-favorites">
    <ion-card>
        <ion-card-header>
            <ion-card-title>Alojamentos</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>
    <ion-card style="background: #ff7f27">
        <ion-card-header>
            <ion-card-title class="text-white">Restaurantes</ion-card-title>
        </ion-card-header>

        <ion-card-content class="text-white">
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Monumentos</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>
    <ion-card style="background: #ff7f27">
        <ion-card-header>
            <ion-card-title class="text-white">Praias</ion-card-title>
        </ion-card-header>

        <ion-card-content class="text-white">
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Experiências</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>
    <ion-card style="background: #ff7f27">
        <ion-card-header>
            <ion-card-title class="text-white">Rotas</ion-card-title>
        </ion-card-header>

        <ion-card-content class="text-white">
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>
</ion-content>
